ion-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

ion-button[color="medium"]{
    text-transform: initial;
    margin-top: 16px;
}

ion-button{
    margin-top: 16px;
}