# Node
node_modules/
npm-debug.log

# Ionic
platforms/
plugins/
www/

# Angular
dist/
e2e/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Other
*.log
*.tmp
*.tmp.*
temp/
tmp/
