# Build and Release Folders
bin/
obj/
TestResults/
_ReSharper.*
*.csproj.user
*.suo

# User-specific files
*.user
*.sln.docstates

# macOS
.DS_Store

# Windows
Thumbs.db

# Visual Studio Code
.vscode/

# Other
*.log
*.tmp
*.tmp.*
temp/
tmp/
