<ion-content [fullscreen]="true" color="primary" scroll="false">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>User profile</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="userProfileFormGroup" (ngSubmit)="submitForm()">
          <ion-input
            *ngFor="let c of userProfileForm"
            [type]="c.options.type"
            [formControlName]="c.key"
            [label]="c.options.label"
            [errorText]="c.options.errorText"
            labelPlacement="floating"
          ></ion-input>
        </form>
        <ion-button id="btn-login" color="primary" size="block"
          >Update profile</ion-button
        >
        <ion-button id="btn-register" color="danger" size="block"
          >Remove account</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
