<ion-content [fullscreen]="true" color="primary">
  <div class="top-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{userName}} </ion-card-title>
        <ion-card-subtitle>Credits: ${{credits}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="topUp">
          <form [formGroup]="amountForm">
            <ion-input
              type="tel"
              label="Amount: "
              color="primary"
              fill="solid"
              value="0"
              formControlName="amount"
              errorText="Top-up can be only positive"
            ></ion-input>
          </form>
          <ion-button color="warning" size="block" (click)="topUpCredit()"
            >Send money</ion-button
          >
        </div>
        <ion-button color="primary" size="block" (click)="topUp=!topUp"
          >{{topUp ? 'Cancel' : 'Top-up credits'}}</ion-button
        >
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="boughtItems?.length">
      <ion-list>
        <ion-list-header>
          <ion-label>Bought items</ion-label>
        </ion-list-header>
        <div *ngFor="let item of boughtItems">
          <ion-item>
            <ion-content>
              <strong>{{ item.name}}</strong><br />
              {{ item.seller.name}} / {{ item.seller.email}}</ion-content
            >
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="soldItems?.length">
      <ion-list>
        <ion-list-header>
          <ion-label>Sold items</ion-label>
        </ion-list-header>
        <div *ngFor="let item of soldItems">
          <ion-item>
            <ion-label>
              <strong>{{ item.name}}</strong><br />
              {{ item.buyer?.name}} / {{ item.buyer?.email}}</ion-label
            >
          </ion-item>
        </div>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
