<ion-content [fullscreen]="true" color="primary" scroll="false">
  <div class="top-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>User profile</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="userProfileFormGroup">
          <ion-input
            *ngFor="let c of userProfileForm"
            [type]="c.options.type"
            [formControlName]="c.key"
            [label]="c.options.label"
            [errorText]="c.options.errorText"
            labelPlacement="floating"
          ></ion-input>
          <ion-button
            id="btn-login"
            color="primary"
            size="block"
            (click)="submitForm()"
            >Update profile</ion-button
          >
        </form>
        <ion-button
          id="btn-register"
          color="medium"
          size="block"
          (click)="logout()"
          >Logout</ion-button
        >
        <ion-button
          style="padding-top: 16px"
          id="btn-register"
          color="danger"
          size="block"
          (click)="deleteProfile()"
          >Remove account</ion-button
        >
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="this.isAdmin">
      <ion-card-header>
        <ion-card-title>List of users</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button
          id="btn-list"
          color="warning"
          size="block"
          (click)="listUsers()"
          >Show users</ion-button
        >
        <div *ngFor="let user of userList">
          <ion-card-title style="padding-top: 16px"
            >{{user.name}}</ion-card-title
          >
          <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
