<ion-content [fullscreen]="true" color="primary" scroll="false">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registration</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="registrationFormGroup" (ngSubmit)="submitForm()">
          <ion-input
            *ngFor="let c of registrationForm"
            [type]="c.options.type"
            [formControlName]="c.key"
            [label]="c.options.label"
            [errorText]="c.options.errorText"
            labelPlacement="floating"
          ></ion-input>
          <ion-button
            type="submit"
            color="primary"
            size="block"
            [disabled]="!registrationFormGroup.valid"
            >Send Registration</ion-button
          >
        </form>
        <ion-button
          id="btn-register"
          color="primary"
          fill="clear"
          size="full"
          (click)="goToLogin()"
          >Login</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
